@font-face {
    font-family: "euro";
    src: url("flexo.ttf");
}
body, font, a, p, b, i, strong, em, li {
    background-color: #bac0cf;
    color: #000;
    font-family: "euro";
    font-size: 14pt;
}
table, tr, td, th {
    background-color: inherit;
    color: #000;
    font-family: "euro";
    font-size: 14pt;
    text-align: center;
}
input[type=text], textarea {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 3px;
    font-family: "euro";
    font-size: 14pt;
}
select {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 3px;
    font-family: "euro";
    font-size: 14pt;
    height: 29px;
}
input[type=button] {
    background-color: #383c4a;
    color: #fff;
    font-family: "euro";
    font-size: 16pt;
    border: none;
    border-radius: 3px;
    position: relative;
}
.top {
    border: none;
    position: absolute;
    width: 98%;
    height: 15%;
    top: 0%;
}
.panel {
    border: none;
    position: absolute;
    width: 96%;
    height: 82%;
    top: 15%;
    overflow-y: scroll;
}
.hover:hover {
    opacity: 0.7;
    border: none;
    border-radius: 3px;
    position: relative;
}
.actionButton {
    background-color: #383c4a;
    color: #fff;
    font-family: "euro";
    width: 27px;
    border: none;
    border-radius: 3px;
    position: relative;
}
.inputPanel {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 3px;
    text-align: center;
    position: relative;
    font-family: "euro";
    font-size: 16pt;
    overflow-x: scroll;
    width: 90%;
    height: 40%;
}
.outputPanel {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 3px;
    text-align: center;
    position: relative;
    font-family: "euro";
    font-size: 16pt;
    overflow-x: scroll;
    width: 90%;
    height: 40%;
}
.actionIcon {
    height: 10%;
    border: none;
    border-radius: 3px;
    position: relative;
}
.actionIcon:hover {
    opacity: 0.7;
}
.actionIconButton {
    border: none;
    border-radius: 3px;
    position: relative;
}
.actionIconButton:hover {
    opacity: 0.7;
}
